Android*
autostart*
compiz*
compton.conf*
configstore*
dconf*
enchant*
eog*
evolution*
Foxit*
GDevelop*
gedit*
ghb*
gnome*
GNS*
Mongo*
pulse*
menus*
o*
g*
htop*
ibus*
k*
lib*
mat*
Men*
ranger*
t*
u*
vlc*
wireshark*
y*
nautilus*
sky*
sub*
soft*
Trel*
Sla*
QtPro*
mime*
Troll*
sqlite*
